.block-programm {
  @media (max-width: $mobile-width-only) {
    border: 1px solid $grey-light-specialy;
    margin-left: -20px;
    padding: 19px 20px 10px 20px;
    margin-right: -20px;
  }


  @media (min-width: $tablet-width) {
    border: 1px solid $grey-light-specialy;
    font-size: 20px;
    line-height: 30px;
    padding: 22px 0 13px 28px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    border: 1px solid $grey-light-specialy;
    font-size: 20px;
    line-height: 30px;
    padding: 24px 0 13px 28px;
    margin-bottom: 70px;
  }
}

.block-programm__item {
  margin: 0 0 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 12px 0;
  }
}

.block-programm__label {
  cursor: pointer;
  position: relative;
  padding: 8px 0 3px 45px;

  @media (min-width: $tablet-width) {
    padding: 8px 0 3px 60px;
  }
}

.block-programm__radio + .block-programm__label::after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 37px;
    height: 37px;
  }
}

.block-programm__radio + .block-programm__label:hover::after {
  border-color: #bababa;
}

.block-programm__radio + .block-programm__label:focus-within::after {
  border-color: #bababa;
}

.block-programm__radio:checked ~ .block-programm__label--radio::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: $green-but;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
  }
}

.block-programm__radio:checked ~ .block-programm__label--radio:active::before {
  opacity: 0.5;
}
