.instruction {
  @include container(20px, 20px, 320px);
  padding-top: 8px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    @include container(30px, 30px, 768px);
    padding-top: 26px;
    padding-bottom: 0;
    border-bottom: 1px solid $grey-grey;
  }

  @media (min-width: $desktop-width) {
    @include container(110px, 110px, 1440px);
    padding-top: 70px;
    border-bottom: none;
  }
}


.instruction__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
    font-size: 60px;
    line-height: 60px;
  }
}

.instruction__list {
  padding: 0;
  margin: 38px 0 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-bottom: -36px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 80px;
    margin: 38px 0 0;
  }
}

.instruction__text {
  font-family: $arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 255px;
  }
}


.instruction__item {
  position: relative;
  display: flex;
  list-style-type: none;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    flex-direction: column;
    padding-bottom: 115px;
    background-image: url("../img/1.png");
  }
}

.instruction__item--useful::before {
  background-image: url("../img/advantage-leaf@1x.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
  }
}

.instruction__item--consistence::before {
  background-image: url("../img/advantage-powder@1x.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/advantage-powder@2x.png");
  }
}

.instruction__item--ingestion::before {
  background-image: url("../img/advantage-dining@1x.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/advantage-dining@2x.png");
  }
}

.instruction__item--time::before {
  background-image: url("../img/advantage-leaf@1x.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/advantage-clock@2x.png");
  }
}

.instruction__item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: $green-but;
  background-size: 50px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 28px;
  }
}

.instruction__item--useful {
  @media (min-width: $tablet-width) {
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    background-position: 125px 0;
  }
}

.instruction__item--consistence {
  @media (min-width: $tablet-width) {
    background-image: url("../img/2.png");
    background-repeat: no-repeat;
    background-position: 125px 0;
  }
}

.instruction__item--ingestion {
  @media (min-width: $tablet-width) {
    background-image: url("../img/3.png");
    background-repeat: no-repeat;
    background-position: 123px 0;
  }
}

.instruction__item--time {
  @media (min-width: $tablet-width) {
    background-image: url("../img/4.png");
    background-repeat: no-repeat;
    background-position: 125px 0;
  }
}
