.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__list {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 130px;
    justify-content: space-between;
    padding: 0;
    margin-left: 31px;
  }
}

.social__item {
  cursor: pointer;
  list-style-type: none;
  margin: 0 17px;
  height: 22px;
  width: 22px;

  @media (min-width: $tablet-width) {
    width: 31px;
    height: 26px;
    margin: 0;
  }
}

.social__link {
  text-decoration: none;
}

.social__icon--fb {
  margin-right: 7px;
}

.social__icon {
  fill: #666666;

  &:hover {
    fill: $green-but;
    opacity: 0.6;
  }

  &:focus {
    fill: $green-but;
    opacity: 0.4;
  }

  @media (min-width: $tablet-width) {
    width: 31px;
    height: 26px;
  }
}
